h2{
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
.card{
    text-align: center;
    background-color: white;
    padding: 5px 0px;
    border-radius: 20px;
    margin: 0px 5px;
}
.card-margin{
    margin: 10px 45px;
}
img{
    width: 240px;
    height: 205px;
    border-radius: 20px;
}
