<h2><b>City Portal</b></h2>
<br>
<p>
    <b>Cityguide</b><br>
We’ve worked hard to build network of our own that connects the customers to every local market and
 business in the city. Our experts handpick the best solutions for your queries and provide you with
  impartial advice based purely on proper research and analysis. We provide you with the contact and 
  information of all general and important resources around the city.
  <br><br><br>
  <b>Business Directory</b><br>
  Customers are the like oxygen for the survival of a business who are often left with various choices for 
  a single product. There are several websites offering a range of content and data including reviews,
   ratings, reports, directories, stories, pictures leaving the consumers unsure about where to find
    authentic and unbiased information on the companies offering it. City Portal  is the one place where 
    you can find all authentic information about any local product. We bring the business and the community
     our platform through our Business Directory.
</p>
