<!-- Add food entity -->
<body>

  <div class="main-block">
      <div class="left-part">
        <h1>Add the Food Place </h1>
      </div>
      <form>
        <div class="form-group">
          <label>Food Place Name</label>
          <input type="text" #name="ngModel" required class="form-control" [class.is-invalid]="name.invalid && name.touched" name="name" [(ngModel)]="food.name">        
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="text" #address="ngModel"  required class="form-control" [class.is-invalid]="address.invalid && address.touched" name="address" [(ngModel)]="food.address">
        </div>
        <div class="form-group">
          <label>Latitude </label>
          <input type="number" #latitude="ngModel"  required class="form-control" [class.is-invalid]="latitude.invalid && latitude.touched" name="latitude" [(ngModel)]="food.latitude">
        </div>
        <div class="form-group">
          <label>Longitude</label>
          <input type="number" #longitude="ngModel" required class="form-control" [class.is-invalid]="longitude.invalid && longitude.touched" name="longitude" [(ngModel)]="food.longitude">
        </div>
        <div class="form-group">
          <label>Altitude</label>
          <input type="number" #altitude="ngModel"  required class="form-control" [class.is-invalid]="altitude.invalid && altitude.touched" name="altitude" [(ngModel)]="food.altitude">
        </div>
        <div class="form-group">
          <label>Information</label>
          <input type="text" #information="ngModel" required class="form-control" [class.is-invalid]="information.invalid && information.touched" name="information" [(ngModel)]="food.information">
        </div>
        <div class="form-group">
          <label>Nearest Metro</label>
          <input type="text" #nearestMetro="ngModel"  required class="form-control" [class.is-invalid]="nearestMetro.invalid && nearestMetro.touched" name="nearestMetro" [(ngModel)]="food.nearestMetro">
        </div>
        <div class="form-group">
          <label>Opening Time</label>
          <input type="time" #openingTime="ngModel" required class="form-control" [class.is-invalid]="openingTime.invalid && openingTime.touched" name="openingTime" [(ngModel)]="food.openingTime">
        </div>
        <div class="form-group">
          <label>Closing Time</label>
          <input type="time" #closingTime="ngModel" required class="form-control" [class.is-invalid]="closingTime.invalid && closingTime.touched" name="closingTime" [(ngModel)]="food.closingTime">
        </div> <br>
        
        <h2><label>Amenities </label> </h2> <br>
        <div class="form-group">
          <input type="checkbox" name= "hasFoodStalls" [(ngModel)]="food.hasFoodStalls" > Food Stalls<br>
          <input type="checkbox"  name="hasVeg" [(ngModel)] = "food.hasVeg"> Veg<br>
          <input type="checkbox" name="hasNonVeg" [(ngModel)]="food.hasNonveg"> Non-Veg <br>
          <input type="checkbox" name="hasFoodPackaging" [(ngModel)]="food.hasFoodPackaging"> Food Packaging <br>
          <input type="checkbox" name="hasOnlineDelivery" [(ngModel)]="food.hasOnlineDelivery"> Online Delivery <br>
          <input type="checkbox" name="foodType" [(ngModel)]="food.foodType"> Food Type <br>
        </div>

        <button type="submit" (click)="addFoodEntity()">Submit</button>
      </form>
    </div>
  </body>
