<!-- Activities list view -->
<div class="container">

    <h2><strong>Activity</strong></h2>
    <div class="col-md-3 card-margin" *ngFor=" let place of places">
        <div class="card" >
            <a routerLink="/activity-detail/{{place.name}}/2"  (click)="render()"> 
                <div class="card-body">

                    <h4 class="card-title">{{place.name}}</h4>

                    <img [src]="place.image" alt="image">
                </div>
            </a>
        </div>
    </div>


</div>